<!-- Fixed navbar -->
    <nav class="navbar navbar-none navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand gradient-text" href="/T-Shop">T-SHOP</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav"></ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#about">О нас</a></li>
            <li><a href="#contact">Контакты</a></li>
            <li class="basket-container">
                <a href="#checkout">Корзина <span id="basket_total_amount"></span></a>
                <ul class="basket-items hidden"></ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>


