<div class="col-sm-3">
    <div class="product-item">
        <a href="{% url 'product' product.product.id %}">
            <img src="{{ product.image.url }}" class="img-responsive">
        </a>
        {% if product.product.discount %}
            <div class="discount-container">
                <span>{{ product.product.discount }}%</span>
            </div>
        {% endif %}
        <h4>{{ product.product.name }}</h4>
        <p>{{ product.product.description|truncatechars_html:128 }}</p>
    </div>
</div>